* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration:inherit;
    /*font-size: 100%;*/
    padding: 0;
    border: 0;
    margin: 0;
}

/* lists */

/*
ul,ol{margin:.4em 0 1em;line-height:150%;}
ul li,ol li{list-style-position:outside;margin-left:2.5em;}
*/
dl{padding:.3em 0 .8em;}
dt{font-weight:bold;text-decoration:underline;}
dd{}

/* other */
p{margin:.6em 0 .3em;line-height:150%;}
img{border:0;}
hr{color:#b4aca1;background-color:#b4aca1;border-bottom:1px solid #f6f4eb;}
small{font-size:80%;}
pre{overflow:auto;white-space:pre-wrap;/* <- css3 */white-space:0;/* <- ff */font-size:12px;font-family:"Courier New", Courier, "Lucida Console", Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Bitstream Vera Sans Mono";background-color:#fff;padding:.4em;margin:1em 0;}
pre{width:80%;overflow:hidden;border:1px solid #ddd;background-color:#fff;padding:.8em;margin:1em 0;}
blockquote{margin:1em 25% 1em 0;min-height:40px;padding:.6em 1em .6em 2.4em;border:1px dotted #ddd;font-style:italic;color:#474747;background:#fff url(images/blockquote.png) no-repeat 4px top;}
blockquote p{padding:8px;margin:2px;}
blockquote blockquote{margin:1em 0 1em;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

table {
    border-collapse: collapse;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}


* html .clear {
    height: 1%;
}

a {
    color: #0071bb;
    text-decoration: underline;
}

a:hover{
    color: #ed1e24;
}

body{
	font-family: 'Roboto', sans-serif;
    font-size:13px;font-style:normal;color:#4e4e4e;
    background:#000 url(../images/bg.png) repeat center bottom;
    padding: 0;
    margin: 0;
}

#page{
      width: 940px;
      margin: 0 auto;
}

#all-content{
  	background-color: #fafafa;
 	margin: 0 auto;
    position:relative;
-moz-box-shadow: 0px 4px 12px #ccc; /* FF3.5+ */
-webkit-box-shadow: 0px 4px 12px #ccc; /* Saf3.0+, Chrome */
      box-shadow: 0px 4px 12px #ccc; /* Opera 10.5, IE 9.0 */
          filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
      -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */
}

#content{
    position:relative;
}


#primary-content{
    left:0;
    width:940px;
}

#sidebar{display:none;}


#page.with_sidebar #primary-content{
    left:0;
    width:650px;
}

#page.with_sidebar #sidebar{width:290px;right:0;display:block;}

#primary-content,#sidebar{
  top:0;
  position:relative;
  float:left;
  z-index:0;
  overflow:hidden;
}

footer{
    font-size: 10px;
    text-align: center;
    margin-top: 24px;
	color: #fff;
}

/* Button styles from the awesome: http://www.webdesignerwall.com/demo/css-buttons.html */

.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.medium {
    font-size: 12px;
    padding: .4em .15em .42em;
}
.small {
    font-size: 11px;
    padding: .2em .1em .275em;
}


/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.banner{
    border-bottom: 12px solid #222;
    padding: 0 12px;
    position: relative;
}

.banner h1{
    font-weight: 100;
    font-size: 32px;
    line-height: 48px;
}


.banner h3{
    color: #666;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

.banner nav ul{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:15;
    background:#eee url(../images/nav.png) repeat-x left top;
    width:100%;
}

.banner nav li{
    list-style-type: none;
    float: left;
    position:relative;
    background:transparent url(../images/nav-div.png) no-repeat right top;
    padding:0 1px 0 0;
}

.banner nav li a{
    min-height:32px;
    display:block;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration:none;
    text-shadow:#fff 1px 1px 1px;
    text-align:center;
    color:#4e4e4e;
    padding:0 13px 0 11px !important;
    position:relative;
    line-height:31px;
    margin:0;
}

.banner nav li a:hover{
    background-color:#fff;
}
.banner nav li a.active{
    color: #d7d7d7;
    border: solid 1px #333;
    background:#000 url(../images/nav-active.png) no-repeat left top;color:#dedede;text-shadow:#000 1px 1px 1px;
}

.blog_excerpt{
    padding-bottom: 24px;
}

.blog_excerpt .post time{
    float: none;
    clear: left;
}


.blog_excerpt .button{
    float: right;
}


.blog_excerpt h3,
h1.title{
    font-size: 24px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
}

.blog_excerpt h3{
    margin-bottom: 24px;
}

.blog_excerpt img{
    width: 240px;
}

section.content{
    padding: 12px;
}

/* listing */

.listing{
    margin-top: 24px;
}

.listing img{
    width: 120px;

}

.listing li{
    list-style-type: none;
    margin-bottom: 24px;
    padding: 2px;
}

.listing li:nth-child(2){
    margin-right: 0;
}

.listing li:nth-child(3){
    clear: left;
}

.listing li p{
    
    line-height: 12px;
    margin-bottom: 12px;
}


.listing h3{
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 6px;
}

.listing h4{
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 4px;
}

.listing time{
    display:block;
    border-top: 1px solid #ccc;
    padding-top: 4px;
    font-size: 10px;
}

/* Content */

article.post p{
    font-size: 12px;
    line-height: 24px;
    margin: 6px 0;
}

article.post img{
    display: block;
    margin-bottom: 24px;
	max-width: 640px;
}


.content ul,ol{margin:.4em 0 1em;line-height:150%;}
.content ul li,ol li{list-style-position:outside;margin-left:2.5em;}



.post time{
    font-size: 12px;
    color: #999;
    float:left;
    margin-top: 6px;
}

ul.tags{
    margin-bottom: 24px;
    text-align: right;
}

ul.tags li{
    list-style-type: none;
    display: inline;
}

ul.tags li a{
    color: #999;
    text-decoration: none;
}

/*h1.tag:before,
ul.tags li a:before{
    content: '\00AB';
}

h1.tag:after,
ul.tags li a:after{
    content: '\00BB';
}
*/

ul.tags li a:hover{
    color: #222;
}

h1 a, h2 a, h3 a{
    text-decoration: none;
}

nav.post_nav{
    font-size: 12px;
    padding: 12px;
    padding-right: 24px;

}

a.backlink{
    display:inline-block;
	text-align:center;
	font-weight:bold;
	width:35%;
}

a.backlink:before{
    content: '\2191';
	font-weight:bold;
}

a.prev:before{
    content: '\00AB';
}

a.next:after{
    content: '\00BB';
}

a.prev{
    margin-right: 12px;
}

a.prev,
a.next{
    display: block;
    float: left;
    margin-bottom: 12px;
	width:30%;
}

a.next{ 
	float: right;
	text-align: right; 
}

a.backlink:hover, a.prev:hover, a.next:hover{
    color: #222;
}

.post_nav a.disabled{
    color: #ccc;
}

.post_nav a{
    color: #666;
    text-decoration: none;
    text-shadow: 0px 2px 0px #fff;
}

.post_nav div{
    display: block;
    float: left;
    width: 58px;
    overflow: hidden;
    margin-left: 4px;
}

#facebook_like{
    margin-top: 1px;
}

.archives ul.posts{
    margin-top: 24px;
}

.archives li.post{
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    padding: 12px 0;

}

.archives li.post time{
    color: #999;
    text-shadow: 0px 2px 0px #fff;
    margin-right: 24px;
    display:block;
    float: left;
    width: 120px;
}

.archives li.post a{
    float: left;
}

.archives ul.tags{
    float: right;
    margin-bottom:0;
}


.codebox {
  margin-top: 8px;
  margin-bottom: 12px;
}
.code {
  position: relative;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #F0F3F3;
}
.code figcaption {
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.highlight pre {
  font-size: 12px;
  padding: 16px 12px 12px;
  line-height: 24px;
  margin-bottom: 8px;
}

/*** LOGO & HEADLINE ***/

#site-title{padding:4em 0 5em 0; position:relative}
#site-title #logo{font-size:275%;font-weight:bold;font-style:normal;margin:0;padding:0;float:left;line-height:46px; max-width:540px; border-bottom: none; !important}
#site-title #logo a{color:#FF8C00;text-decoration:none;text-shadow:#000 1px 1px 1px;font-variant:small-caps;letter-spacing:-0.04em;padding-right:0.6em; margin-right:0.4em;border-right:1px solid #999;}
#site-title #logo a:hover{color:#999999;}
#site-title .headline{display:inline; margin:0;padding:.2em 0 .2em .8em;font-weight:normal;font-size:125%;line-height:32px;letter-spacing:0.3em;color:#aaa;}

#nav p.nav-extra{position:relative;top:-65px;z-index:10;right:10px;}
#nav a.nav-extra{width:64px;height:50px;display:block;float:right;margin-left:6px;background:transparent url(../images/nav-icons.png) no-repeat}
.main_nav{z-index:1;}



h1.title{
  font-weight: bold;
  font-size: 250%;
  text-shadow: #fff 1px 1px 1px;
  margin: .5em 0 .3em 0;
  padding: 0;
}
h2.title{ font-weight:bold; font-size:180%; margin:0 0 .2em 0; padding:.2em 0 0 0; text-shadow: #fff 1px 1px 1px;width: 90%;}
h1.title a, h2.title a{text-decoration:none;color:#4e4e4e;}
h1.title a:hover, h2.title a:hover{color:#FF8C00;text-decoration:none;}

h3.title{font-size:140%;font-weight:bold;margin:1em 0 0 0;padding:0;}
h3.title a{text-decoration:none;color:#4e4e4e;}
h3.title a:hover{color:#ed1e24;text-decoration:none;}

h4.title{font-size:120%;font-weight:bold;margin:1em 0 0 0;padding:0;width: 90%;}
h4.title a{text-decoration:none;color:#4e4e4e;}
h4.title a:hover{color:#ed1e24;text-decoration:none;}

.post-info{background:transparent url(../images/info-bar.png) no-repeat right top;height:42px;margin-left:11px;color:#bbb;text-shadow:#fff 1px 1px 1px;line-height:32px;padding:0 0 0 130px;}
.post-info a{font-weight:bold;color:#999;}
.post-info a:hover{color:#ed1e24;}
.post-date{background:transparent url(../images/info-bar.png) no-repeat left -75px;padding-left:11px;float:left;text-transform:uppercase;font-weight:bold;}
.post-date p.day{background:transparent url(../images/info-bar.png) no-repeat right -42px;height:33px;min-width:65px;padding:0 16px 0 0;margin:0;line-height:31px;color:#fff;}

.widget_title .title{background-image:url(../images/block-title.png)}
.widgets{padding:1em;margin:0;list-style-type:none;}
.widgets h3.title{font-weight:bold;font-size:130%;background-repeat:no-repeat;background-position:left top;color:#f93;line-height:100%;letter-spacing:normal;margin:0;padding:0;text-shadow:1px 1px 1px rgba(0,0,0,0.4);text-transform:uppercase;text-align:left;line-height:23px;}
.widgets h3.title span{background-repeat:no-repeat;background-position:right top;margin-left:7px;display:block;padding:4px 8px 0 4px;}
.widgets h3.title a{color:#f93;text-decoration:none;}
.widgets h3.title a:hover{color:#FFFFFF;}
.widgets .block-div{background-color:transparent;background-repeat:no-repeat;background-position:left bottom;width:7px;height:23px;float:left;}
.widgets .block-div-arrow{background-color:transparent;background-repeat:no-repeat;background-position:right bottom;height:23px;margin-left:7px;}
.widgets .block-div{background-image:url(../images/block-title.png)}
.widgets .block-div-arrow{background-image:url(../images/block-title.png)}

.widget_listing{
    margin-top: 10px;
}

.widget_listing img{
    width: 150px;
}

.widget_listing li{
    list-style-type: none;
    width: 100%;
    margin-right: 15px;
	margin-left: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.album_listing li {
    width: 300px;
	list-style-type: none;
	float:left;
}

.album_listing li:nth-child(2){
    margin-right: 0;
}

.album_listing li:nth-child(3){
    clear: left;
}

.album_listing img{
    width: 250px;
}


.photo_listing li {
    width: 200px;
	list-style-type: none;
	float:left;
}

.photo_listing li:nth-child(3){
    margin-right: 0;
}

.photo_listing li:nth-child(4){
    clear: left;
}

.photo_listing img{
    width: 150px;
}

.excerpt_more a {
    padding: 2px 6px 3px;
    margin: 0px;
    font-size: 85%;
    text-transform: uppercase;
    border-radius: 3px 3px 3px 3px;
    font-weight: normal;
    background-color: rgb(238, 238, 238);
    text-decoration: none;
    color: rgb(102, 102, 102);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.excerpt_more a:hover {
	background-color:#999;
	color:#fff;
	text-shadow:#666 1px 1px 1px;
}

.tags img {
	float:left;
	margin:15px;
}

div.image_block { 
	margin:5px 5px 10px 5px ;
	text-align: center;
}
