
<div id="sidebar" role="complementary">
	<ul class="widgets">
		<!-- Info -->
		{% from "photo_sidebar_macros.j2" import get_info with context %}
		{{ get_info(resource) }}

		{% from "sidebar_macros.j2" import get_adsense with context %}
		{{ get_adsense() }}
	</ul>
</div>

