{% extends "base_with_sidebar.j2" %}
{% from "photo_macros.j2" import render_photo_excerpt with context  %}
{% block main %}

<nav class="post_nav row-fluid">

{% set paths = [] %}
{% for n in [node] recursive %} 
	{% if 'photo' in n.parent.url %} {{ loop([n.parent]) }} {% do paths.append(n) %}{% endif %}
{% endfor %}

<ul class="breadcrumb pagination-centered">
	<li><a href="{{ content_url( 'photos')  }}">Photos</a><span class="divider">/</span></li>
	{% for b in paths %}
		<li {% if loop.last %}class="active">{{ b.meta.title }}{% else %}><a href="{{ content_url( b.url)  }}">{{ b.meta.title }}</a>{% if not loop.last %}<span class="divider">/</span>{% endif %}{% endif %}</li>
	{% endfor %}

</ul>


<br>
</nav>


{% from "photo_macros.j2" import get_albums with context  %}

{{ get_albums(node, "span6") }}



{% set count = 0 %}
{% set total_count = resource.node.walk_resources_sorted_by_time() | count %}
<div class="row-fluid">
{% for res in resource.node.walk_resources_sorted_by_time() | reverse %}
		{% if res.node == node %}
		{% set count = count +1 %}
		<div class="span4">
			{{ render_photo_excerpt(res) }}
		</div>
		{% endif %}
	{% if count % 3 == 0 and count != total_count %}
	</div>
	<div class="row-fluid">
	{% endif %}
{% endfor %}
</div>

{% endblock %}
