{% macro get_blog_posts(num) -%}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/blog/">Recent Posts</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>
	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% for res in site.content.node_from_relative_path('blog/').walk_resources_sorted_by_time()[:num] %}
				<li>
					{# {% refer to res.url as post %} #}
					<a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
					{# {{ post.image|markdown|typogrify }} #}
				</li>
		{% endfor %}
		</ul>
	</div>
</li>
{% endmacro %}


{% macro get_archive(resource) %}

{% set parts = resource.url.split('/') %}	
{% set article = parts[3] %}
{% set month = parts[2] %}	
{% set year = parts[1] %}
		
{% set this_date =  time_now %}




<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span>Archive</span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			

			{% if "index" in article %}
				{% set article = None %}
			{% endif %}
			{% if "index" in month %}
				{% set month = None %}
			{% endif %}

			{% if "index" in year or "page" in year %}
				{% for n in resource.node.child_nodes | sort(attribute='source.name') | reverse %}
					{% set item_count =  n.walk_resources_sorted_by_time() | count %}
					{% if item_count %}
						{% set this_date = this_date.replace(year= n.url.split('/')[2]|int ) %}
						<li> <a href="{{ n.url }}">{{ this_date.strftime('%Y') }} ({{item_count}})</a> </li>
						
					{% endif %}
				{% endfor %}
			{% elif "tags" in resource.url %}
				{% for n in resource.node.parent.child_nodes | sort(attribute='source.name') | reverse %}
					{% set item_count =  n.walk_resources_sorted_by_time() | count %}
					{% if item_count %}
						{% set this_date = this_date.replace(year= n.url.split('/')[2]|int ) %}
						<li> <a href="{{ n.url }}">{{ this_date.strftime('%Y') }} ({{item_count}})</a> </li>
						
					{% endif %}
				{% endfor %}
		
			{% elif article or month %}
				{% set this_date = this_date.replace(year= year|int ) %}
				{% for n in resource.node.parent.parent.child_nodes | sort(attribute='source.name') | reverse %}
					{% set item_count =  n.walk_resources_sorted_by_time() | count %}
					{% if item_count %}
						{% set this_date = this_date.replace(year= n.url.split('/')[2]|int ) %}
						{% if n.url[1:] in resource.url %}
						<li> <a href="{{ n.url }}"><b>{{ this_date.strftime('%Y') }} ({{item_count}})</b></a> </li>
						<ul>
						{% for n_month in resource.node.parent.child_nodes | sort(attribute='source.name') | reverse %}
							{% set item_count =  n_month.walk_resources_sorted_by_time() | count %}
							{% if item_count %}
								{% set this_date = this_date.replace(month= n_month.url.split('/')[3]|int ) %}
								{% if n_month.url[1:] in resource.url %}
									<li> <a href="{{ n_month.url }}"><b>{{ this_date.strftime('%B %Y') }} ({{item_count}})</b></a> </li>
								{% else %}
									<li> <a href="{{ n_month.url }}">{{ this_date.strftime('%B %Y') }} ({{item_count}})</a> </li>
								{% endif %}
							{% endif %}
						{% endfor %}
						</ul>
						{% else %}		
						<li> <a href="{{ n.url }}">{{ this_date.strftime('%Y') }} ({{item_count}})</a> </li>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% elif year %}

				{% for n in resource.node.parent.child_nodes | sort(attribute='source.name') | reverse %}
					{% set item_count =  n.walk_resources_sorted_by_time() | count %}
					{% if item_count %}
						{% set year = n.url.split('/')[2] %}
						{% if year %}
						{% set this_date = this_date.replace(year= n.url.split('/')[2]|int ) %}
						{% endif %}
						{% if n.url[1:] in resource.url %}
						<li> <a href="{{ n.url }}"><b>{{ this_date.strftime('%Y') }} ({{item_count}})</b></a> </li>
						<ul>
						{% for n_month in resource.node.child_nodes | sort(attribute='source.name') | reverse %}
							{% set item_count =  n_month.walk_resources_sorted_by_time() | count %}
							{% if item_count %}
								{% set month = n_month.url.split('/')[3] %}
								{% if month %}
								{% set this_date = this_date.replace(month= n_month.url.split('/')[3]|int ) %}
									<li> <a href="{{ n_month.url }}">{{ this_date.strftime('%B %Y') }} ({{item_count}})</a> </li>
								{% endif %}
							{% endif %}
						{% endfor %}
						</ul>
						{% else %}		
						<li> <a href="{{ n.url }}">{{ this_date.strftime('%Y') }} ({{item_count}})</a> </li>
						{% endif %}
					{% endif %}
				{% endfor %}

			{% endif %} 
			
			
		</ul>
	</div>
</li> 

{% endmacro %}
