{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
  <p class="nav-extra">
     <a href="/blog/atom.xml" class="nav-extra" title="View RSS Feed"></a><a href="http://twitter.com/Justin_Judd" target="_blank" class="nav-extra" style="background-position:-64px top" title="Follow me on Twitter"></a> <a href="http://www.facebook.com/JustinJudd" target="_blank" class="nav-extra" style="background-position:-192px top" title="Find me on Facebook"></a> <a href="http://www.linkedin.com/pub/justin-judd/14/5a6/381"  rel="me" target="_blank" class="nav-extra" style="background-position:-320px top" title="Find me on LinkedIn"></a> <a href="https://plus.google.com/114337450100633107219/"  rel="me" target="_blank" class="nav-extra" style="background-position:-128px top" title="Find me on Google"></a>
  </p>
<nav {{'class='~cls if cls }}>
    <ul>
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% else -%}
            {% set active = (site.content.node_from_relative_path(item.url).url in node.url) -%}
        {%- endif %}
        {#  {% set classes = ['button', 'white'] -%} #}
        {% set classes = [] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li>
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ content_url(item.url) }}">
                {{ item.name }}
            </a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{%- endif %}
{%- endmacro %}

{% macro render_sidebar(resource) -%}
	{% if resource.node.url == site.content.url %}
		{% include "main_sidebar.j2" %}
	{% elif '/blog' in resource.node.url %}
		{% include "blog_sidebar.j2" %}
	{% elif '/photos' in resource.node.url %}
		{% if '/photos' == resource.node.url %}
			{% include "album_sidebar.j2" %}
		{% elif 'tag' in resource.url %}
			{% include "photo_tag_sidebar.j2" %}
		{% elif 'index' in resource.url %}
			{% include "album_sidebar.j2" %}
		{% else %}
			{% include "photo_sidebar.j2" %}
		{% endif %}
	{% elif '/portfolio' in resource.node.url %}
		{% include "portfolio_sidebar.j2" %}
	{% endif %}
{% endmacro %}

