{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Justin Judd</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			{% for item in menu %}
				<li {% if item.url == '/' %} {% if resource.url == 'index.html' %}class="active" {% endif %} {% elif item.url.strip('/') in resource.url %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.name }}</a></li>
			{% endfor %}

            </ul>
			<ul class="nav pull-right">
			<li><a href="https://plus.google.com/114337450100633107219/"><i class="icon-google-plus"></i></a></li>
			<li><a href="http://www.linkedin.com/pub/justin-judd/14/5a6/381"><i class="icon-linkedin"></i></a></li>
			<li><a href="http://www.facebook.com/JustinJudd"><i class="icon-facebook"></i></a></li>
			<li><a href="http://twitter.com/Justin_Judd"><i class="icon-twitter"></i></a></li>
			<li><a href="http://dev.justinjudd.org/blog/atom.xml"><i class="icon-rss"></i></a></li>
			</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{%- endif %}
{%- endmacro %}

{% macro render_sidebar(resource) -%}
	{% if resource.node.url == site.content.url %}
		{% include "main_sidebar.j2" %}
	{% elif '/blog' in resource.node.url %}
		{% include "blog_sidebar.j2" %}
	{% elif '/photos' in resource.node.url %}
		{% if '/photos' == resource.node.url %}
			{% include "album_sidebar.j2" %}
		{% elif 'tag' in resource.url %}
			{% include "photo_tag_sidebar.j2" %}
		{% elif 'index' in resource.url %}
			{% include "album_sidebar.j2" %}
		{% else %}
			{% include "photo_sidebar.j2" %}
		{% endif %}
	{% elif '/portfolio' in resource.node.url %}
		{% include "portfolio_sidebar.j2" %}
	{% endif %}
{% endmacro %}

