
  <div id="sidebar" role="complementary">
    <ul class="widgets">
			<!-- Blog Feed -->
			{% from "blog_sidebar_macros.j2" import get_blog_posts with context %}
			{{ get_blog_posts(3) }}
			<!-- Image Feed -->
			{% from "photo_sidebar_macros.j2" import get_albums with context %}
			{{ get_albums(3) }}
		</ul>
  </div>

