{% extends "base_with_sidebar.j2" %}

{% block main -%}
<article class="post">
<nav class="post_nav">
{% if 'photos' in resource.url %}
	{% set main_node = site.content.node_from_relative_path('photos/') %}
{% elif 'portfolio' in resource.url %}
	{% set main_node = site.content.node_from_relative_path('portfolio/') %}
{% elif 'blog' in resource.url %}
	{% set main_node = site.content.node_from_relative_path('blog/') %}
{% else %}
	{% set main_node = node %}
{% endif %}




{% set index = main_node.walk_resources_sorted_by_time().index( resource ) %}
{% if index > 0 %}
	{% set prev_resource = main_node.walk_resources_sorted_by_time()[index-1] %}
	{% if prev_resource.node != node %}
			{% set prev_resource = None %}
	{% endif %}
	
{% endif %}
<a class="prev{{' disabled' if not prev_resource }}"
    title="{{ prev_resource }}"
    {% if prev_resource %}
    href="{{ content_url(prev_resource.url) }}"{% endif %}>
    {{ prev_resource.meta.title }}
</a>

<a class="backlink" href="{{ content_url(resource.node.url) }}">{{ node.get_resource('index.html').meta.title }} </a>


{% if main_node.walk_resources_sorted_by_time() | count > index %}
	{% set next_resource = main_node.walk_resources_sorted_by_time()[index+1] %}
		{% if next_resource.node != node %}
			{% set next_resource = None %}
		{% endif %}
	
{% endif %}
<a class="next{{' disabled' if not next_resource }}"
    title="{{ next_resource.meta.title }}"
    {% if next_resource %}
    href="{{ content_url(next_resource.url) }}"{% endif %}>
    {{ next_resource.meta.title }}
</a>

<br>
</nav>


<h1 class="title">
        {{ resource.meta.title }}
</h1>
<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>

{% if resource.meta.tags %}
<ul class="tags clear">
{% for tag in resource.meta.tags %}
<li>
    <a class="small" href="{{ content_url('photos/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
</li>
{% endfor %}
</ul>
{% endif %}

{% if resource.meta.category %}
<ul class="tags clear">
{% for tag in resource.meta.category %}
<li>
    <a class="small" href="{{ content_url('photos/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
</li>
{% endfor %}
</ul>
{% endif %}


{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}
{%- endblock %}
{%- endmark %}
{%- endfilter %}
</article>

{%- endblock %}
