{% macro get_photos(resource, num=3) %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/photos/">Photos</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% for res in resource.node.walk_resources_sorted_by_time()[:num] %}
				{% set rel_image_loc = site.config.media_url + res.node.url + '/' +  res.meta.image + "_web.jpg" %}
				{% set image_md = '![' + res.meta.title  + '](' + rel_image_loc + ')' %}

				<li>
					<a href="{{ content_url(res.url) }}"> {{res.meta.title }}
					{{ image_md |markdown|typogrify }}
					</a>


				</li>
			{% endfor %}

		</ul>
	</div>
</li>
{% endmacro %}


{% macro get_recent_photos(resource, num=3) %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/photos/">Recent Photos</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% set photo_node = site.content.node_from_relative_path('photos/') %}
			{% for res in photo_node.walk_resources_sorted_by_time()[:num] %}
				{% set rel_image_loc = site.config.media_url + res.node.url + '/' +  res.meta.image  + "_web.jpg" %}
				{% set image_md = '![' + res.meta.title  + '](' + rel_image_loc + ')' %}

				<li>
					<a href="{{ content_url(res.url) }}"> {{res.meta.title }}
					{{ image_md |markdown|typogrify }}
					</a>


				</li>
			{% endfor %}

		</ul>
	</div>
</li>
{% endmacro %}

{% macro get_albums(num) %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/photos/">Albums</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% for n in site.content.node_from_relative_path('photos/').child_nodes[:num] %}
				{% if 'tag' not in n.url %}
				<li>
					{% set rel_image_loc = '/' + site.config.media_url[1:] + n.url + '/' +  n.meta.album_cover + '_web.jpg' %}

					{% set image_md = '![' + n.meta.title  + '](' + rel_image_loc + ')' %}
					<a href="{{n.url}}"> {{n.meta.title }}
					{{ image_md |markdown|typogrify }}
					</a>


				</li>
				{% endif %}
			{% endfor %}

		</ul>
	</div>
</li>
{% endmacro %}

{% macro get_info(resource) %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="{{ content_url(resource.url) }}">Info</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<p>
			{{ resource.meta.description }}
		</p>
	</div>
</li>
{% endmacro %}

