{% extends "base_with_sidebar.j2" %}

{% block main -%}
<nav class="post_nav row-fluid">

{% set paths = [resource] %}
{% for n in [node] recursive %} 
	{% if 'photo' in n.parent.url %} {% do paths.append(n) %} {{ loop([n.parent]) }} {% endif %}
{% endfor %}


<ul class="breadcrumb pagination-centered">
	<li><a href="{{ content_url( 'photos')  }}">Photos</a><span class="divider">/</span></li>
	{% for b in paths|reverse %}
		<li {% if loop.last %}class="active">{{ b.meta.title }}{% else %}><a href="{{ content_url( b.url)  }}">{{ b.meta.title }}</a>{% if not loop.last %}<span class="divider">/</span>{% endif %}{% endif %}</li>
	{% endfor %}

</ul>

<ul class="pager">

{% if resource in node.walk_resources_sorted_by_time() %}
	{% set index = node.walk_resources_sorted_by_time().index( resource ) %}
	{% if node.walk_resources_sorted_by_time() | count > index %}
		{% set prev_resource = node.walk_resources_sorted_by_time()[index+1] %}
	{% endif %}

	<li class="previous {{' disabled' if not prev_resource }}">
	<a class="prev{{' disabled' if not prev_resource }}"
		title="{{ prev_resource }}"
		{% if prev_resource %}
		href="{{ content_url(prev_resource.url) }}"{% endif %}>
		<i class="icon-arrow-left"></i> {{ prev_resource.meta.title }}
	</a>
	</li>

{#
	<li>
	<a class="backlink" href="{{ content_url(resource.node.url) }}"><i class="icon-arrow-up"></i> {{ node.get_resource('index.html').meta.title }} <i class="icon-arrow-up"></i></a>
	</li>
#}





	{% if index > 0 %}
		{% set next_resource = node.walk_resources_sorted_by_time()[index-1] %}
	{% endif %}
	<li class="next {{' disabled' if not next_resource }}">
	<a class="next{{' disabled' if not next_resource }}"
		title="{{ next_resource.meta.title }}"
		{% if next_resource %}
		href="{{ content_url(next_resource.url) }}"{% endif %}>
		{{ next_resource.meta.title }} <i class="icon-arrow-right"></i>
	</a>
	</li>
</ul>

	<br>
{% endif %}
</nav>

<article class="post">
<div class="title">
	<h1 class="post-title">
		    {{ resource.meta.title }}
	</h1>

	<div class="post-date">
	<!--
	<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
		Taken: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
	</time>
	-->
	<p>{{ resource.meta.created.strftime('%b %d %Y') }}</p>
	</div>

	<div class="post-info">
	{% if resource.meta.tags %}
	<ul class="tags clear inline unstyled nav nav-pills">
	<li><a href="{{ content_url( resource.url.split('/')[0] + '/tags/' ) }}"><i class="icon-tags"></i></a></li>
	{% for tag in resource.meta.tags %}
	<li>
		<a class="small" href="{{ content_url('photos/tags/'~tag~'.html') }}">
		    {{ tag }}
		</a>
	</li>
	{% endfor %}
	</ul>
	{% endif %}
	</div>
</div>

{% if resource.meta.category %}
<ul class="tags clear">
{% for tag in resource.meta.category %}
<li>
    <a class="small" href="{{ content_url('photos/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
</li>
{% endfor %}
</ul>
{% endif %}

<div class="post-content">
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}
{%- endblock %}
{%- endmark %}
{%- endfilter %}
</div>
</article>

{%- endblock %}
