{% macro get_portfolio() %}
<div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li class="nav-header"><a href="/portfolio">Portfolio</a></li>
		{% for res in site.content.node_from_relative_path('portfolio/').walk_resources_sorted_by_time() %}
				<li>
						<a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
				</li>
		{% endfor %}
	</ul>
</div><!--/.well -->
{% endmacro %}




