{% macro get_blog_posts(num) -%}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/blog/">Recent Posts</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>
	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% for res in site.content.node_from_relative_path('blog/').walk_resources_sorted_by_time()[:num] %}
				<li>
					{# {% refer to res.url as post %} #}
					<a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
					{# {{ post.image|markdown|typogrify }} #}
				</li>
		{% endfor %}
		</ul>
	</div>
</li>
{% endmacro %}

{% macro get_photos(resource, num=3) %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/photos/">Photos</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% for res in resource.node.walk_resources_sorted_by_time()[:num] %}
				{% set rel_image_loc = site.config.media_url + res.node.url + '/' +  res.meta.image + "_web.jpg" %}
				{% set image_md = '![' + res.meta.title  + '](' + rel_image_loc + ')' %}

				<li>
					<a href="{{ content_url(res.url) }}"> {{res.meta.title }}
					{{ image_md |markdown|typogrify }}
					</a>


				</li>
			{% endfor %}

		</ul>
	</div>
</li>
{% endmacro %}


{% macro get_recent_photos(resource, num=3) %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/photos/">Recent Photos</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% set photo_node = site.content.node_from_relative_path('photos/') %}
			{% for res in photo_node.walk_resources_sorted_by_time()[:num] %}
				{% set rel_image_loc = site.config.media_url + res.node.url + '/' +  res.meta.image  + "_web.jpg" %}
				{% set image_md = '![' + res.meta.title  + '](' + rel_image_loc + ')' %}

				<li>
					<a href="{{ content_url(res.url) }}"> {{res.meta.title }}
					{{ image_md |markdown|typogrify }}
					</a>


				</li>
			{% endfor %}

		</ul>
	</div>
</li>
{% endmacro %}

{% macro get_albums(num) %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/photos/">Albums</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% for res in site.content.node_from_relative_path('photos/').child_nodes[:num] %}
				{% if 'tag' not in res.url %}
				<li>
					{% set rel_image_loc = '/' + site.config.media_url[1:] + res.url + '/' +  res.meta.album_cover + '_web.jpg' %}

					{% set image_md = '![' + res.meta.title  + '](' + rel_image_loc + ')' %}
					<a href="{{res.url}}"> {{res.meta.title }}
					{{ image_md |markdown|typogrify }}
					</a>


				</li>
				{% endif %}
			{% endfor %}

		</ul>
	</div>
</li>
{% endmacro %}



{% macro get_portfolio() %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="/portfolio/">Portfolio</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			{% for res in site.content.node_from_relative_path('portfolio/').walk_resources_sorted_by_time() %}
				<li>
						<a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
				</li>
			{% endfor %}

		</ul>
	</div>
</li>
{% endmacro %}



{% macro get_info(resource) %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span><a href="{{ content_url(resource.url) }}">Info</a></span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<p>
			{{ resource.meta.description }}
		</p>
	</div>
</li>
{% endmacro %}

{% macro get_adsense() %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span>Adsense</span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-9290011455941969";
			/* Justin_Blog_Side */
			google_ad_slot = "2165248867";
			google_ad_width = 250;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</ul>
	</div>
</li>
{% endmacro %}

{% macro get_archive(resource) %}

{% set parts = resource.url.split('/') %}	
{% set article = parts[3] %}
{% set month = parts[2] %}	
{% set year = parts[1] %}
		
{% set this_date =  time_now %}

{% if not "index" in year and not "tags" in resource.url %}
<li class="widget">
	<div class="clearfix">
	<h3 class="widget_title"><span>Archive</span></h3>
	<div class="block-div"></div>
	<div class="block-div-arrow"></div>
	</div>

	<div id="blog-feed-content" class="widget_body">
		<ul class="widget_listing clear">
			

			{% if "index" in article %}
				{% set article = None %}
			{% endif %}
			{% if "index" in month %}
				{% set month = None %}
			{% endif %}

			{% if article or month %}
				{% set this_date = this_date.replace(year= year|int ) %}
				{% for n in resource.node.parent.parent.child_nodes %}
					{% set item_count =  n.walk_resources_sorted_by_time() | count %}
					{% if item_count %}
						{% set this_date = this_date.replace(year= n.url.split('/')[2]|int ) %}
						{% if n.url[1:] in resource.url %}
						<li> <a href="{{ n.url }}"><b>{{ this_date.strftime('%Y') }} ({{item_count}})</b></a> </li>
						<ul>
						{% for n_month in resource.node.parent.child_nodes %}
							{% set item_count =  n_month.walk_resources_sorted_by_time() | count %}
							{% if item_count %}
								{% set this_date = this_date.replace(month= n_month.url.split('/')[3]|int ) %}
								{% if n_month.url[1:] in resource.url %}
									<li> <a href="{{ n_month.url }}"><b>{{ this_date.strftime('%B %Y') }} ({{item_count}})</b></a> </li>
								{% else %}
									<li> <a href="{{ n_month.url }}">{{ this_date.strftime('%B %Y') }} ({{item_count}})</a> </li>
								{% endif %}
							{% endif %}
						{% endfor %}
						</ul>
						{% else %}		
						<li> <a href="{{ n.url }}">{{ this_date.strftime('%Y') }} ({{item_count}})</a> </li>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
				{% for n in resource.node.parent.child_nodes %}
					{% set item_count =  n.walk_resources_sorted_by_time() | count %}
					{% if item_count %}
						{% set this_date = this_date.replace(year= n.url.split('/')[2]|int ) %}
						{% if n.url[1:] in resource.url %}
						<li> <a href="{{ n.url }}"><b>{{ this_date.strftime('%Y') }} ({{item_count}})</b></a> </li>
						<ul>
						{% for n_month in resource.node.child_nodes %}
							{% set item_count =  n_month.walk_resources_sorted_by_time() | count %}
							{% if item_count %}
								{% set this_date = this_date.replace(month= n_month.url.split('/')[3]|int ) %}
									<li> <a href="{{ n_month.url }}">{{ this_date.strftime('%B %Y') }} ({{item_count}})</a> </li>
							{% endif %}
						{% endfor %}
						</ul>
						{% else %}		
						<li> <a href="{{ n.url }}">{{ this_date.strftime('%Y') }} ({{item_count}})</a> </li>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %} 
			
			
		</ul>
	</div>
</li>
{% endif %} 
{% endmacro %}
