<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for res in resource.node.walk_resources() recursive -%}
	{% if not "yaml" in res.url and res.url.split("/")[0] != "media" %}

	<url>
		<loc>{{ site.meta.site_url + content_url(res.url) }}</loc>
		{% if res.meta.modified %}<lastmod>{{ res.meta.modified|xmldatetime }}</lastmod>
		{% endif %}
	</url>
	{% endif %}
{% endfor %}
</urlset>
