{% extends "base_with_sidebar.j2" %}
{% set title = tag.name %}
{% block main %}
<section class="archives">
<h1 class="tag title">Tag: {{ tag.name }}</h1>
<ul class="listing posts clear">
{% from "macros.j2" import render_post with context  %}
{% for resource in walker() -%}
{% if source.url in resource.node.url %}
<li>
    {{ render_post(resource, class="tags clear") }}
</li>
{% endif %}
{%- endfor %}
</ul>
</section>
{% endblock %}
