{% extends "base_with_sidebar.j2" %}
{% set title = tag.name %}
{% block main %}
<section class="archives">
<header id="introduction" class="contain">
		<hgroup>
		<h1 id="page-title">Tag</h1>
		<h2 id="page-tagline">All photos tagged with {{ tag.name }}</h2>
		</hgroup>
</header>
<ul class="photo_listing posts clear">
{% from "macros.j2" import render_photo_excerpt with context  %}
{% for resource in walker() -%}
{% if source.url in resource.node.url %}
<li>
    {{ render_photo_excerpt(resource, class="tags clear") }}
</li>
{% endif %}
{%- endfor %}
</ul>
</section>
{% endblock %}
