{% extends "base_with_sidebar.j2" %}

{% block main %}

{% set site_section = node.url.split('/')[1] %}
<header id="introduction" class="contain">
		<hgroup>
		<h1 id="page-title">Tags</h1>
		<h2 id="page-tagline">All {{ site_section }} tags available</h2>
		</hgroup>
</header>

 {% for tagname, tag in site.tagger.tags.to_dict().iteritems() -%}
		{% set exists = [] %}
		{% for res in tag.resources %}
			{% if source.url[1:] in res.url %}
				{% if exists.append(1) %}{% endif %}
				{{ found }}
			{% endif %}
		{% endfor %}
		{% if exists %}
			<div class="well">
			<article>
			<div class="title">
   			<h2 class="post-title"><a title="{{ tagname }}" href="{{ content_url('/' + site_section + '/tags/{0}'.format(tagname)) }}">{{ tagname }}</a>  </h2> </div> <div class="post-content">
			{% set found = [] %}
			{% for res in tag.resources %}
				 {% if source.url[1:] in res.url %}
					{% do found.append(res) %}

				{% endif %}
			{% endfor %}
			{% for res in found[:3] %}
				&nbsp;&nbsp;&nbsp;<a href="{{ content_url(res.url) }}">{{ res.meta.title }} </a><br />
			{% endfor %}
			{% if found|count > 3 %}
			<span class="excerpt_more"><a class="btn" href="{{ content_url('/' + site_section + '/tags/{0}'.format(tagname)) }}">More &raquo;</a></span>
			{% endif %}
			</div> </article>
			</div>
		{% endif %}
  {%- endfor %}
{% endblock %}
